---
Language:                            Cpp
BasedOnStyle:                        LLVM

ColumnLimit:                         60
ContinuationIndentWidth:             0
IndentWidth:                         2
MaxEmptyLinesToKeep:                 2
TabWidth:                            2
UseTab:                              Never

AllowShortBlocksOnASingleLine:       Always
AllowShortCaseLabelsOnASingleLine:   true
AllowShortFunctionsOnASingleLine:    All
AllowShortIfStatementsOnASingleLine: true
AllowShortLambdasOnASingleLine:      All
AllowShortLoopsOnASingleLine:        true

AlignConsecutiveDeclarations:        false
AlignConsecutiveMacros:              true

NamespaceIndentation:                Inner
